Se ha recibido una solicitud de usuario.
<br>
<b>Nombre:</b> {{ usuario.getNombrePretty() }}
<br>
<b>Cliente:</b> {{ usuario.zona.cliente.nombre }}
<br>
<b>Zona:</b> {{ usuario.zona.nombre }}
<br>
<b>Perfil solicitado:</b> {{ usuario.perfil }}
<br>
Si desea aprobarlo <a href="{{ system_url }}/#/admin/usuarios" >ingrese a este link</a>.
<br>
Saludos,
<br>
<br>
BOLSAMAX